// *** MASTER SASS FILE ***

// --- PARTIALS ---
@import "helpers/reset";
@import "helpers/typography";

@import "components/vars";
@import "components/placeholders";
@import "components/mixins";
@import "components/header-nav";
@import "components/hero";
@import "components/feature-1";
@import "components/feature-2";
@import "components/feature-3";
@import "components/feature-4";
// --- MASTER CONTROLS ---

body{
  background-color: $d4-white;
  font-family: $master-font, sans-serif;
  color: $d4-dark;
  width: 100vw;
}
