// *** MASTER SASS FILE ***

// --- PARTIALS ---
@import "helpers/reset";
@import "helpers/typography";

@import "components/vars";
@import "components/placeholders";
@import "components/mixins";
@import "components/header-nav";
@import "components/hero";
@import "components/feature-1.scss";
@import "components/feature-2.scss";
@import "components/feature-3.scss";
// --- MASTER CONTROLS ---

body{
  background-color: $d4-neutral;
  font-family: 'Poppins', sans-serif;
  color: $d4-dark;
}
