// *** MASTER SASS FILE ***

// --- PARTIALS ---
@import "helpers/reset";
@import "helpers/typography";

@import "components/vars";
@import "components/placeholders";
@import "components/mixins";
@import "components/header-nav";
@import "components/hero";
// --- MASTER CONTROLS ---

body{
  background-color: #CCC;
  font-family: Helvetica, sans-serif;
  color: $d4-dark;
}
