/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh"; }

.small-caps {
  -moz-font-feature-settings: "c2sc", "smcp";
  -ms-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
  letter-spacing: 0.05em; }

.tabular-figures {
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum"; }

.oldstyle-figures {
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum"; }

.lining-figures {
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum"; }

#feature-2 #feature-2-content #mrv-imgs .overlay:hover, #feature-2 #feature-2-content #guided-packtripsImg .overlay:hover, #feature-2 #feature-2-content #hunting-Img .overlay:hover, #feature-2 .button:hover {
  cursor: pointer;
  user-select: none; }

#header-nav {
  width: 100vw;
  padding: 5px 0;
  background-color: #1D2339;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #header-nav #header-nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    #header-nav #header-nav-content #nav-content-left {
      padding-left: 15px; }
    #header-nav #header-nav-content #nav-content-right {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding-right: 15px; }
      #header-nav #header-nav-content #nav-content-right ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        #header-nav #header-nav-content #nav-content-right ul li {
          font-family: 'Noto Serif TC', serif;
          font-size: .85em;
          color: #EBDFD7;
          margin-right: 15px; }
          #header-nav #header-nav-content #nav-content-right ul li:hover {
            color: #445576;
            cursor: pointer;
            user-select: none; }

#heroContent {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row; }
  #heroContent #heroImg {
    width: 100%;
    height: 660px;
    background: url("media/imgs/special-hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
    #heroContent #heroImg #d4-icon {
      height: 350px;
      width: 350px;
      margin-top: 15px; }
    #heroContent #heroImg h2 {
      width: 700px;
      font-size: 1.5em;
      line-height: 1.45em; }

#feature-1 {
  width: 100vw;
  background-color: #445576; }
  #feature-1 #feature-1-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; }
    #feature-1 #feature-1-content h1 {
      font-size: 3em;
      margin: 10px 0px 10px 0px;
      font-family: 'Noto Serif TC', serif;
      color: #B2AFA4;
      text-align: center; }
    #feature-1 #feature-1-content h2 {
      font-size: 1.75em;
      margin: 10px 0 20px 0;
      font-family: 'Noto Serif TC', serif;
      color: #1D2339;
      text-align: center; }
    #feature-1 #feature-1-content p {
      width: 70%;
      font-size: 1.5em;
      line-height: 1.45em;
      text-align: center;
      margin: 40px 0px 60px 0px;
      color: #B2AFA4; }

#feature-2 {
  width: 100vw;
  height: 1500px;
  background: url("media/imgs/faded-background.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  #feature-2 #feature-2-content {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    #feature-2 #feature-2-content #mrv-imgs {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 400px;
      height: 300px;
      background: url("media/imgs/mrv-img.jpg") no-repeat;
      background-size: cover;
      background-position: center; }
      #feature-2 #feature-2-content #mrv-imgs .overlay {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        width: 90%;
        height: 90%;
        border: 2px solid #EBDFD7;
        font-family: 'Noto Serif TC', serif;
        text-align: center;
        font-size: 1.8em;
        color: #1D2339; }
        #feature-2 #feature-2-content #mrv-imgs .overlay:hover {
          background-color: #EBDFD7;
          opacity: .8; }
    #feature-2 #feature-2-content #guided-packtripsImg {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 400px;
      height: 300px;
      background: url("media/imgs/wilderness-pac.jpg") no-repeat;
      background-size: cover;
      background-position: bottom; }
      #feature-2 #feature-2-content #guided-packtripsImg .overlay {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        width: 90%;
        height: 90%;
        border: 2px solid #EBDFD7;
        align-self: center;
        font-family: 'Noto Serif TC', serif;
        font-size: 1.8em;
        color: #1D2339;
        text-align: center; }
        #feature-2 #feature-2-content #guided-packtripsImg .overlay:hover {
          background-color: #EBDFD7;
          opacity: .8; }
    #feature-2 #feature-2-content #hunting-Img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 400px;
      height: 300px;
      background: url("media/imgs/hunting3.jpg") no-repeat;
      background-size: cover;
      background-position: top; }
      #feature-2 #feature-2-content #hunting-Img .overlay {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        width: 90%;
        height: 90%;
        border: 2px solid #EBDFD7;
        align-self: center;
        font-family: 'Noto Serif TC', serif;
        text-align: center;
        font-size: 1.8em;
        color: #1D2339; }
        #feature-2 #feature-2-content #hunting-Img .overlay:hover {
          background-color: #EBDFD7;
          opacity: .8; }
  #feature-2 h1 {
    font-size: 3em;
    margin: 30px 0px 10px 0px;
    font-family: 'Noto Serif TC', serif;
    color: #1D2339;
    text-align: center; }
  #feature-2 h2 {
    font-size: 1.75em;
    margin: 10px 0 20px 0;
    font-family: 'Noto Serif TC', serif;
    color: #1D2339;
    text-align: center; }
  #feature-2 p {
    width: 70%;
    font-size: 1.5em;
    line-height: 1.45em;
    text-align: center;
    margin: 40px 0px 40px 0px;
    color: #1D2339; }
  #feature-2 .button {
    padding: 15px;
    background-color: #445576;
    font-size: 1.4em;
    color: #EBDFD7;
    border-radius: 5px; }
    #feature-2 .button:hover {
      background-color: #B2AFA4; }

#feature-3 {
  width: 100vw;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #feature-3 #feature-3-content {
    width: 80%; }
    #feature-3 #feature-3-content h1 {
      font-size: 3em;
      font-family: 'Noto Serif TC', serif;
      text-align: center; }
    #feature-3 #feature-3-content #review {
      width: 100%;
      font-size: 1.5em;
      line-height: 1.45em;
      margin: 40px 0px 40px 0px;
      color: #1D2339; }
    #feature-3 #feature-3-content p {
      align-self: flex-end;
      width: 100%;
      font-size: 1.5em;
      line-height: 1.45em;
      margin: 40px 0px 40px 0px;
      color: #1D2339;
      text-align: left; }

body {
  background-color: #B2AFA4;
  font-family: 'Poppins', sans-serif;
  color: #1D2339; }
