/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh"; }

.small-caps {
  -moz-font-feature-settings: "c2sc", "smcp";
  -ms-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
  letter-spacing: 0.05em; }

.tabular-figures {
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum"; }

.oldstyle-figures {
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum"; }

.lining-figures {
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum"; }

#header-nav {
  width: 100vw;
  padding: 10px 0;
  background-color: #111D17;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }
  #header-nav #header-nav-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row; }
    #header-nav #header-nav-content ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: row; }
      #header-nav #header-nav-content ul li {
        font-size: 1em;
        color: #CCD2CE; }
        #header-nav #header-nav-content ul li:hover {
          color: #4E513E;
          cursor: pointer;
          user-select: none; }

#heroContent {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row; }
  #heroContent #heroImg {
    width: 100%;
    height: 755px;
    background: url("media/imgs/hero-img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; }
    #heroContent #heroImg #d4-icon {
      height: 200px;
      width: 200px;
      margin-top: 30px;
      background-image: url("media/imgs/d4-icon.png");
      background-repeat: no-repeat;
      background-size: contain; }
    #heroContent #heroImg h2 {
      width: 700px;
      font-size: 1.5em;
      line-height: 1.45em; }

body {
  background-color: #CCC;
  font-family: Helvetica, sans-serif;
  color: #111D17; }
