/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh"; }

.small-caps {
  -moz-font-feature-settings: "c2sc", "smcp";
  -ms-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
  letter-spacing: 0.05em; }

.tabular-figures {
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum"; }

.oldstyle-figures {
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum"; }

.lining-figures {
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum"; }

.collapse,
.navbar-collapse {
  width: 30%;
  display: flex;
  justify-content: flex-end; }

.navbar-nav {
  margin-right: 40px; }

.nav-item {
  font-family: 'Noto Serif TC', serif; }

.navbar-dark,
.navbar-nav,
.nav-link {
  color: #EBDFD7 !important; }

.nav-link,
.dropdown-toggle,
.navbar-brand {
  font-size: 1em; }

.bg-dark {
  background-color: #1D2339 !important; }

.navbar,
.navbar-expand-lg,
.navbar-dark,
.bg-dark,
.sticky-top {
  padding: 0px; }

#feature-1 {
  width: 100vw;
  background-color: #445576;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  #feature-1 #feature-1-content {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; }
    #feature-1 #feature-1-content h1 {
      width: 100%;
      font-size: 2em;
      margin: 10px 0px 10px 0px;
      font-family: 'Noto Serif TC', serif;
      color: #B2AFA4;
      text-align: center; }
    #feature-1 #feature-1-content h2 {
      width: 100%;
      font-size: 1.2em;
      margin: 10px 0 20px 0;
      font-family: 'Noto Serif TC', serif;
      color: #1D2339;
      text-align: center; }
    #feature-1 #feature-1-content .d4-divider {
      width: 100%;
      height: 90px;
      background-image: url("media/imgs/d4-divider.png");
      background-position: center;
      background-repeat: no-repeat; }
    #feature-1 #feature-1-content p {
      width: 100%;
      font-size: 1em;
      line-height: 1.45em;
      text-align: center;
      margin: 20px 0px 30px 0px;
      color: #B2AFA4; }

@media (min-width: 768px) {
  #feature-1 {
    width: 100vw;
    background-color: #445576;
    padding-top: 15px; }
    #feature-1 #feature-1-content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      #feature-1 #feature-1-content h1 {
        width: 80%;
        font-size: 3em;
        margin: 10px 0px 10px 0px;
        font-family: 'Noto Serif TC', serif;
        color: #B2AFA4;
        text-align: center; }
      #feature-1 #feature-1-content h2 {
        width: 80%;
        font-size: 1.75em;
        margin: 10px 0 10px 0;
        font-family: 'Noto Serif TC', serif;
        color: #1D2339;
        text-align: center; }
      #feature-1 #feature-1-content .d4-divider {
        width: 80%;
        height: 90px;
        background-image: url("media/imgs/d4-divider.png");
        background-position: center;
        background-repeat: no-repeat; }
      #feature-1 #feature-1-content p {
        width: 70%;
        font-size: 1.45em;
        line-height: 1.45em;
        text-align: center;
        margin: 10px 0px 40px 0px;
        color: #B2AFA4; } }

@media (min-width: 992px) {
  #feature-1 {
    width: 100vw;
    background-color: #445576;
    padding-top: 15px; }
    #feature-1 #feature-1-content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      #feature-1 #feature-1-content h1 {
        width: 80%;
        font-size: 3em;
        margin: 10px 0px 10px 0px;
        font-family: 'Noto Serif TC', serif;
        color: #B2AFA4;
        text-align: center; }
      #feature-1 #feature-1-content h2 {
        width: 80%;
        font-size: 1.75em;
        margin: 10px 0 10px 0;
        font-family: 'Noto Serif TC', serif;
        color: #1D2339;
        text-align: center; }
      #feature-1 #feature-1-content .d4-divider {
        width: 80%;
        height: 90px;
        background-image: url("media/imgs/d4-divider.png");
        background-position: center;
        background-repeat: no-repeat; }
      #feature-1 #feature-1-content p {
        width: 70%;
        font-size: 1.45em;
        line-height: 1.45em;
        text-align: center;
        margin: 10px 0px 40px 0px;
        color: #B2AFA4; } }

@media (min-width: 1200px) {
  #feature-1 {
    width: 100vw;
    background-color: #445576;
    padding-top: 15px; }
    #feature-1 #feature-1-content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      #feature-1 #feature-1-content h1 {
        width: 80%;
        font-size: 3em;
        margin: 10px 0px 10px 0px;
        font-family: 'Noto Serif TC', serif;
        color: #B2AFA4;
        text-align: center; }
      #feature-1 #feature-1-content h2 {
        width: 80%;
        font-size: 1.75em;
        margin: 10px 0 10px 0;
        font-family: 'Noto Serif TC', serif;
        color: #1D2339;
        text-align: center; }
      #feature-1 #feature-1-content .d4-divider {
        width: 80%;
        height: 90px;
        background-image: url("media/imgs/d4-divider.png");
        background-position: center;
        background-repeat: no-repeat; }
      #feature-1 #feature-1-content p {
        width: 70%;
        font-size: 1.45em;
        line-height: 1.45em;
        text-align: center;
        margin: 10px 0px 40px 0px;
        color: #B2AFA4; } }

#feature-2 {
  width: 100vw;
  background-color: #F3F2F2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px; }
  #feature-2 #feature-2-content {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #feature-2 #feature-2-content #mrv-imgs {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: 300px;
      margin: 20px 0px;
      background: url("media/imgs/mrv-img.jpg") no-repeat;
      background-size: cover;
      background-position: bottom; }
      #feature-2 #feature-2-content #mrv-imgs .image-link {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
      #feature-2 #feature-2-content #mrv-imgs .overlay {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 90%;
        border: 2px solid #EBDFD7;
        font-family: 'Noto Serif TC', serif;
        text-align: center;
        font-size: 1.8em;
        color: #1D2339; }
        #feature-2 #feature-2-content #mrv-imgs .overlay .hide-until-hovered {
          display: none; }
        #feature-2 #feature-2-content #mrv-imgs .overlay:hover {
          background-color: #EBDFD7;
          opacity: .8; }
          #feature-2 #feature-2-content #mrv-imgs .overlay:hover .hide-until-hovered {
            width: 90%;
            display: inline;
            margin-top: 15px;
            font-family: "Poppins";
            font-size: .5em;
            line-height: 1.2em; }
    #feature-2 #feature-2-content #guided-packtripsImg {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: 300px;
      margin: 20px 0px;
      background: url("media/imgs/wilderness-pac.jpg") no-repeat;
      background-size: cover;
      background-position: center; }
      #feature-2 #feature-2-content #guided-packtripsImg .image-link {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
      #feature-2 #feature-2-content #guided-packtripsImg .overlay {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 90%;
        border: 2px solid #EBDFD7;
        align-self: center;
        font-family: 'Noto Serif TC', serif;
        font-size: 1.9em;
        color: #1D2339;
        text-align: center; }
        #feature-2 #feature-2-content #guided-packtripsImg .overlay .hide-until-hovered {
          display: none; }
        #feature-2 #feature-2-content #guided-packtripsImg .overlay:hover {
          background-color: #EBDFD7;
          opacity: .8; }
          #feature-2 #feature-2-content #guided-packtripsImg .overlay:hover .hide-until-hovered {
            width: 90%;
            display: inline;
            margin-top: 15px;
            font-family: "Poppins";
            font-size: .5em;
            line-height: 1.2em; }
    #feature-2 #feature-2-content #hunting-Img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: 300px;
      margin: 20px 0px;
      background: url("media/imgs/hunting3.jpg") no-repeat;
      background-size: cover; }
      #feature-2 #feature-2-content #hunting-Img .image-link {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
      #feature-2 #feature-2-content #hunting-Img .overlay {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 90%;
        border: 2px solid #EBDFD7;
        align-self: center;
        font-family: 'Noto Serif TC', serif;
        text-align: center;
        font-size: 1.8em;
        color: #1D2339; }
        #feature-2 #feature-2-content #hunting-Img .overlay .hide-until-hovered {
          display: none; }
        #feature-2 #feature-2-content #hunting-Img .overlay:hover {
          background-color: #EBDFD7;
          opacity: .8; }
          #feature-2 #feature-2-content #hunting-Img .overlay:hover .hide-until-hovered {
            width: 90%;
            display: inline;
            margin-top: 15px;
            font-family: "Poppins";
            font-size: .5em;
            line-height: 1.2em; }

@media (min-width: 768px) {
  #feature-2 {
    width: 100vw;
    background-color: #F3F2F2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px; }
    #feature-2 #feature-2-content {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      #feature-2 #feature-2-content #mrv-imgs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 450px;
        margin: 20px 0px;
        background: url("media/imgs/mrv-img.jpg") no-repeat;
        background-size: cover;
        background-position: center; }
        #feature-2 #feature-2-content #mrv-imgs .overlay {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 90%;
          border: 2px solid #EBDFD7;
          font-family: 'Noto Serif TC', serif;
          text-align: center;
          font-size: 2.7em;
          color: #1D2339; }
          #feature-2 #feature-2-content #mrv-imgs .overlay .hide-until-hovered {
            display: none; }
          #feature-2 #feature-2-content #mrv-imgs .overlay:hover {
            background-color: #EBDFD7;
            opacity: .8; }
            #feature-2 #feature-2-content #mrv-imgs .overlay:hover .hide-until-hovered {
              width: 90%;
              display: inline;
              margin-top: 40px;
              font-family: "Poppins";
              font-size: .75em;
              line-height: 1.2em; }
      #feature-2 #feature-2-content #guided-packtripsImg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 450px;
        margin: 20px 0px;
        background: url("media/imgs/wilderness-pac.jpg") no-repeat;
        background-size: cover;
        background-position: center; }
        #feature-2 #feature-2-content #guided-packtripsImg .overlay {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 90%;
          border: 2px solid #EBDFD7;
          align-self: center;
          font-family: 'Noto Serif TC', serif;
          font-size: 2.7em;
          color: #1D2339;
          text-align: center; }
          #feature-2 #feature-2-content #guided-packtripsImg .overlay .hide-until-hovered {
            display: none; }
          #feature-2 #feature-2-content #guided-packtripsImg .overlay:hover {
            background-color: #EBDFD7;
            opacity: .8; }
            #feature-2 #feature-2-content #guided-packtripsImg .overlay:hover .hide-until-hovered {
              width: 90%;
              display: inline;
              margin-top: 35px;
              font-family: "Poppins";
              font-size: .75em;
              line-height: 1.2em; }
      #feature-2 #feature-2-content #hunting-Img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 450px;
        margin: 20px 0px;
        background: url("media/imgs/hunting3.jpg") no-repeat;
        background-size: cover;
        background-position: center; }
        #feature-2 #feature-2-content #hunting-Img .overlay {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 90%;
          border: 2px solid #EBDFD7;
          align-self: center;
          font-family: 'Noto Serif TC', serif;
          text-align: center;
          font-size: 2.7em;
          color: #1D2339; }
          #feature-2 #feature-2-content #hunting-Img .overlay .hide-until-hovered {
            display: none; }
          #feature-2 #feature-2-content #hunting-Img .overlay:hover {
            background-color: #EBDFD7;
            opacity: .8; }
            #feature-2 #feature-2-content #hunting-Img .overlay:hover .hide-until-hovered {
              width: 90%;
              display: inline;
              margin-top: 15px;
              font-family: "Poppins";
              font-size: .72em;
              line-height: 1.2em; } }

@media (min-width: 992px) {
  #feature-2 {
    width: 100vw;
    background-color: #F3F2F2;
    padding: 40px 0px; }
    #feature-2 #feature-2-content {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row; }
      #feature-2 #feature-2-content #mrv-imgs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 32%;
        height: 300px;
        margin: 20px 0px;
        background: url("media/imgs/mrv-img.jpg") no-repeat;
        background-size: cover;
        background-position: center; }
        #feature-2 #feature-2-content #mrv-imgs .overlay {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 90%;
          border: 2px solid #EBDFD7;
          font-family: 'Noto Serif TC', serif;
          text-align: center;
          font-size: 1.8em;
          color: #1D2339; }
          #feature-2 #feature-2-content #mrv-imgs .overlay .hide-until-hovered {
            display: none; }
          #feature-2 #feature-2-content #mrv-imgs .overlay:hover {
            background-color: #EBDFD7;
            opacity: .8; }
            #feature-2 #feature-2-content #mrv-imgs .overlay:hover .hide-until-hovered {
              width: 90%;
              display: inline;
              margin-top: 15px;
              font-family: "Poppins";
              font-size: .6em;
              line-height: 1.2em; }
      #feature-2 #feature-2-content #guided-packtripsImg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 32%;
        height: 300px;
        margin: 20px 0px;
        background: url("media/imgs/wilderness-pac.jpg") no-repeat;
        background-size: cover;
        background-position: bottom; }
        #feature-2 #feature-2-content #guided-packtripsImg .overlay {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 90%;
          border: 2px solid #EBDFD7;
          align-self: center;
          font-family: 'Noto Serif TC', serif;
          font-size: 1.8em;
          color: #1D2339;
          text-align: center; }
          #feature-2 #feature-2-content #guided-packtripsImg .overlay .hide-until-hovered {
            display: none; }
          #feature-2 #feature-2-content #guided-packtripsImg .overlay:hover {
            background-color: #EBDFD7;
            opacity: .8; }
            #feature-2 #feature-2-content #guided-packtripsImg .overlay:hover .hide-until-hovered {
              width: 90%;
              display: inline;
              margin-top: 15px;
              font-family: "Poppins";
              font-size: .6em;
              line-height: 1.2em; }
      #feature-2 #feature-2-content #hunting-Img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 32%;
        height: 300px;
        margin: 20px 0px;
        background: url("media/imgs/hunting3.jpg") no-repeat;
        background-size: cover;
        background-position: top; }
        #feature-2 #feature-2-content #hunting-Img .overlay {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 90%;
          border: 2px solid #EBDFD7;
          align-self: center;
          font-family: 'Noto Serif TC', serif;
          text-align: center;
          font-size: 1.8em;
          color: #1D2339; }
          #feature-2 #feature-2-content #hunting-Img .overlay .hide-until-hovered {
            display: none; }
          #feature-2 #feature-2-content #hunting-Img .overlay:hover {
            background-color: #EBDFD7;
            opacity: .8; }
            #feature-2 #feature-2-content #hunting-Img .overlay:hover .hide-until-hovered {
              width: 90%;
              display: inline;
              margin-top: 15px;
              font-family: "Poppins";
              font-size: .57em;
              line-height: 1.2em; } }

@media (min-width: 1200px) {
  #feature-2 {
    width: 100vw;
    background-color: #F3F2F2;
    padding: 40px 0px; }
    #feature-2 #feature-2-content {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row; }
      #feature-2 #feature-2-content #mrv-imgs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 32%;
        height: 300px;
        margin: 20px 0px;
        background: url("media/imgs/mrv-img.jpg") no-repeat;
        background-size: cover;
        background-position: center; }
        #feature-2 #feature-2-content #mrv-imgs .overlay {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 90%;
          border: 2px solid #EBDFD7;
          font-family: 'Noto Serif TC', serif;
          text-align: center;
          font-size: 1.8em;
          color: #1D2339; }
          #feature-2 #feature-2-content #mrv-imgs .overlay .hide-until-hovered {
            display: none; }
          #feature-2 #feature-2-content #mrv-imgs .overlay:hover {
            background-color: #EBDFD7;
            opacity: .8; }
            #feature-2 #feature-2-content #mrv-imgs .overlay:hover .hide-until-hovered {
              width: 90%;
              display: inline;
              margin-top: 15px;
              font-family: "Poppins";
              font-size: .65em;
              line-height: 1.2em; }
      #feature-2 #feature-2-content #guided-packtripsImg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 32%;
        height: 300px;
        margin: 20px 0px;
        background: url("media/imgs/wilderness-pac.jpg") no-repeat;
        background-size: cover;
        background-position: bottom; }
        #feature-2 #feature-2-content #guided-packtripsImg .overlay {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 90%;
          border: 2px solid #EBDFD7;
          align-self: center;
          font-family: 'Noto Serif TC', serif;
          font-size: 1.8em;
          color: #1D2339;
          text-align: center; }
          #feature-2 #feature-2-content #guided-packtripsImg .overlay .hide-until-hovered {
            display: none; }
          #feature-2 #feature-2-content #guided-packtripsImg .overlay:hover {
            background-color: #EBDFD7;
            opacity: .8; }
            #feature-2 #feature-2-content #guided-packtripsImg .overlay:hover .hide-until-hovered {
              width: 90%;
              display: inline;
              margin-top: 15px;
              font-family: "Poppins";
              font-size: .65em;
              line-height: 1.2em; }
      #feature-2 #feature-2-content #hunting-Img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 32%;
        height: 300px;
        margin: 20px 0px;
        background: url("media/imgs/hunting3.jpg") no-repeat;
        background-size: cover;
        background-position: top; }
        #feature-2 #feature-2-content #hunting-Img .overlay {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: 90%;
          border: 2px solid #EBDFD7;
          align-self: center;
          font-family: 'Noto Serif TC', serif;
          text-align: center;
          font-size: 1.8em;
          color: #1D2339; }
          #feature-2 #feature-2-content #hunting-Img .overlay .hide-until-hovered {
            display: none; }
          #feature-2 #feature-2-content #hunting-Img .overlay:hover {
            background-color: #EBDFD7;
            opacity: .8; }
            #feature-2 #feature-2-content #hunting-Img .overlay:hover .hide-until-hovered {
              width: 90%;
              display: inline;
              margin-top: 15px;
              font-family: "Poppins";
              font-size: .65em;
              line-height: 1.2em; } }

.feature-3 {
  width: 100vw;
  height: 1000px;
  background-image: url("media/imgs/faded-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .feature-3 .feature-3-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .feature-3 .feature-3-container h1 {
      font-size: 2em;
      margin: 30px 0px 10px 0px;
      font-family: 'Noto Serif TC', serif;
      color: #1D2339;
      text-align: center; }
    .feature-3 .feature-3-container h2 {
      font-size: 1.2em;
      margin: 10px 0 10px 0;
      font-family: 'Noto Serif TC', serif;
      color: #1D2339;
      text-align: center; }
    .feature-3 .feature-3-container .d4-divider {
      width: 100%;
      height: 130px;
      background-image: url("media/imgs/d4-divider.png");
      background-position: center;
      background-repeat: no-repeat; }
    .feature-3 .feature-3-container p {
      width: 95%;
      font-size: 1em;
      line-height: 1.45em;
      text-align: center;
      margin: 5px 0px 40px 0px;
      color: #1D2339; }
    .feature-3 .feature-3-container .button {
      padding: 15px;
      background-color: #445576;
      font-size: 1.4em;
      color: #EBDFD7;
      border-radius: 5px;
      margin-bottom: 20px; }
      .feature-3 .feature-3-container .button:hover {
        background-color: #B2AFA4; }

@media (min-width: 768px) {
  .feature-3 {
    width: 100vw;
    height: 1600px;
    background-image: url("media/imgs/faded-background.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; }
    .feature-3 .feature-3-container {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .feature-3 .feature-3-container h1 {
        font-size: 3em;
        margin: 30px 0px 10px 0px;
        font-family: 'Noto Serif TC', serif;
        color: #1D2339;
        text-align: center; }
      .feature-3 .feature-3-container h2 {
        font-size: 1.75em;
        margin: 10px 0 10px 0;
        font-family: 'Noto Serif TC', serif;
        color: #1D2339;
        text-align: center; }
      .feature-3 .feature-3-container .d4-divider {
        width: 100%;
        height: 130px;
        background-image: url("media/imgs/d4-divider.png");
        background-position: center;
        background-repeat: no-repeat; }
      .feature-3 .feature-3-container p {
        width: 95%;
        font-size: 1.5em;
        line-height: 1.45em;
        text-align: center;
        margin: 5px 0px 40px 0px;
        color: #1D2339; }
      .feature-3 .feature-3-container .button {
        padding: 15px;
        background-color: #445576;
        font-size: 1.4em;
        color: #EBDFD7;
        border-radius: 5px;
        margin-bottom: 20px; }
        .feature-3 .feature-3-container .button:hover {
          background-color: #B2AFA4; } }

#feature-4 {
  width: 100vw;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #feature-4 #feature-4-content {
    width: 80%; }
    #feature-4 #feature-4-content .img-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      padding: 40px 20px 10px 20px; }
      #feature-4 #feature-4-content .img-container .img {
        width: 240px;
        height: 200px;
        background-image: url("../../stylesheets/media/imgs/fake-award.png");
        background-repeat: no-repeat;
        background-size: contain; }
    #feature-4 #feature-4-content h1 {
      font-size: 2em;
      font-family: 'Noto Serif TC', serif;
      text-align: center; }
    #feature-4 #feature-4-content #review {
      width: 100%;
      font-size: 1.2em;
      line-height: 1.45em;
      margin: 40px 0px 40px 0px;
      color: #1D2339; }
    #feature-4 #feature-4-content p {
      align-self: flex-end;
      width: 100%;
      font-size: 1em;
      line-height: 1.45em;
      margin: 40px 0px 40px 0px;
      color: #1D2339;
      text-align: left; }

@media (min-width: 768px) {
  #feature-4 {
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #feature-4 #feature-4-content {
      width: 80%; }
      #feature-4 #feature-4-content h1 {
        font-size: 3em;
        font-family: 'Noto Serif TC', serif;
        text-align: center; }
      #feature-4 #feature-4-content #review {
        width: 100%;
        font-size: 1.5em;
        line-height: 1.45em;
        margin: 40px 0px 40px 0px;
        color: #1D2339; }
      #feature-4 #feature-4-content p {
        align-self: flex-end;
        width: 100%;
        font-size: 1.5em;
        line-height: 1.45em;
        margin: 40px 0px 40px 0px;
        color: #1D2339;
        text-align: left; } }

footer {
  background-color: #1D2339;
  color: #EBDFD7;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row; }
  footer .img {
    width: 240px;
    height: 200px;
    background-image: url("../../stylesheets/media/imgs/fake-award.png");
    background-repeat: no-repeat;
    background-size: contain; }
  footer .footer-contact {
    line-height: 1.45em; }
  footer .footer-list {
    line-height: 2em; }

.feature {
  width: 100vw;
  background-color: #445576;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .feature .feature-content {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; }
    .feature .feature-content h1 {
      width: 100%;
      font-size: 2em;
      margin: 10px 0px 10px 0px;
      font-family: 'Noto Serif TC', serif;
      color: #B2AFA4;
      text-align: center; }
    .feature .feature-content h2 {
      width: 100%;
      font-size: 1.2em;
      margin: 10px 0 20px 0;
      font-family: 'Noto Serif TC', serif;
      color: #1D2339;
      text-align: center; }
    .feature .feature-content .d4-divider {
      width: 100%;
      height: 90px;
      background-image: url("media/imgs/d4-divider.png");
      background-position: center;
      background-repeat: no-repeat; }
    .feature .feature-content p {
      margin-left: 200px;
      width: 100%;
      font-size: 1em;
      line-height: 1.45em;
      text-align: left;
      margin: 20px 0px 30px 0px;
      color: #B2AFA4; }

.container {
  padding: 40px 40px 20px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .container h1 {
    font-family: 'Noto Serif TC', serif;
    font-size: 2.75em;
    text-align: center;
    margin: 0px 0px 20px 0px; }
  .container h2 {
    width: 75%;
    font-size: 1.5em;
    text-align: center;
    margin: 30px 0px 30px 0px; }
  .container .col-sm .card {
    margin: 0px 15px 0px 15px; }

@media (min-width: 768px) {
  .feature {
    width: 100vw;
    background-color: #445576;
    padding-top: 15px; }
    .feature .feature-content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      .feature .feature-content h1 {
        width: 80%;
        font-size: 3em;
        margin: 10px 0px 10px 0px;
        font-family: 'Noto Serif TC', serif;
        color: #B2AFA4;
        text-align: center; }
      .feature .feature-content h2 {
        width: 80%;
        font-size: 1.75em;
        margin: 10px 0 10px 0;
        font-family: 'Noto Serif TC', serif;
        color: #1D2339;
        text-align: center; }
      .feature .feature-content .d4-divider {
        width: 80%;
        height: 90px;
        background-image: url("media/imgs/d4-divider.png");
        background-position: center;
        background-repeat: no-repeat; }
      .feature .feature-content p {
        width: 70%;
        font-size: 1.45em;
        line-height: 1.45em;
        text-align: left;
        margin: 10px 0px 40px 0px;
        color: #B2AFA4; } }

@media (min-width: 992px) {
  .feature {
    width: 100vw;
    background-color: #445576;
    padding-top: 15px; }
    .feature .feature-content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      .feature .feature-content h1 {
        width: 80%;
        font-size: 3em;
        margin: 10px 0px 10px 0px;
        font-family: 'Noto Serif TC', serif;
        color: #B2AFA4;
        text-align: center; }
      .feature .feature-content h2 {
        width: 80%;
        font-size: 1.75em;
        margin: 10px 0 10px 0;
        font-family: 'Noto Serif TC', serif;
        color: #1D2339;
        text-align: center; }
      .feature .feature-content .d4-divider {
        width: 80%;
        height: 90px;
        background-image: url("media/imgs/d4-divider.png");
        background-position: center;
        background-repeat: no-repeat; }
      .feature .feature-content p {
        width: 70%;
        font-size: 1.45em;
        line-height: 1.45em;
        text-align: left;
        margin: 10px 0px 40px 0px;
        color: #B2AFA4; } }

@media (min-width: 1200px) {
  .feature {
    width: 100vw;
    background-color: #445576;
    padding-top: 15px; }
    .feature .feature-content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      .feature .feature-content h1 {
        width: 80%;
        font-size: 3em;
        margin: 10px 0px 10px 0px;
        font-family: 'Noto Serif TC', serif;
        color: #B2AFA4;
        text-align: center; }
      .feature .feature-content h2 {
        width: 80%;
        font-size: 1.75em;
        margin: 10px 0 10px 0;
        font-family: 'Noto Serif TC', serif;
        color: #1D2339;
        text-align: center; }
      .feature .feature-content .d4-divider {
        width: 80%;
        height: 90px;
        background-image: url("media/imgs/d4-divider.png");
        background-position: center;
        background-repeat: no-repeat; }
      .feature .feature-content p {
        width: 70%;
        font-size: 1.45em;
        line-height: 1.45em;
        text-align: left;
        margin: 10px 0px 40px 0px;
        color: #B2AFA4; } }

body {
  background-color: #EBDFD7;
  font-family: "Poppins", sans-serif;
  color: #1D2339;
  width: 100vw; }
