// *** FEATURE 3 PARTIAL ***

#feature-3{
  width: 100vw;
  padding: 30px;
  @include basic-flex(center, center, column);
  #feature-3-content{
    width: 80%;
    h1{
      font-size: 3em;
      font-family: 'Noto Serif TC', serif;
      text-align: center;
    }
    #review{
      width: 100%;
      font-size: 1.5em;
      line-height: 1.45em;
      margin: 40px 0px 40px 0px;
      color: $d4-dark;
    }
    p{
      align-self: flex-end;
      width: 100%;
      font-size: 1.5em;
      line-height: 1.45em;
      margin: 40px 0px 40px 0px;
      color: $d4-dark;
      text-align: left;
    }
  }
}
