// *** HEADER NAV PARTIAL

#header-nav{
  width: 100vw;
  padding: 5px 0;
  background-color: $d4-dark;
  @include basic-flex(center, center, column);
  #header-nav-content{
    width: 100%;
    @include basic-flex(space-between, center, row);
    #nav-content-left{
      padding-left: 15px;
    }
    #nav-content-right{
      width: 70%;
      @include basic-flex(space-between, center, row);
      padding-right: 15px;
      ul{
        width: 100%;
        @include basic-flex(space-between, center, row);

        li{
          font-family: 'Noto Serif TC', serif;
          font-size: .85em;
          color: $d4-white;
          margin-right: 15px;

          &:hover{
            color: $hover-color;
            cursor: pointer;
            user-select: none;
          }
        } //li
      } // ul
    }//nav-content-right
  } // header-nav-content
}// header-nav
