.collapse,
.navbar-collapse{
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav{
 margin-right: 40px;
}

.nav-item{
  font-family: 'Noto Serif TC', serif;
}

.navbar-dark,
.navbar-nav,
.nav-link{
  color: #EBDFD7!important;
}

.nav-link,
.dropdown-toggle,
.navbar-brand{
  font-size: 1em;
}

.bg-dark,{
  background-color: #1D2339!important;
}

.navbar,
.navbar-expand-lg,
.navbar-dark,
.bg-dark,
.sticky-top{
  padding: 0px;
}
