// *** HERO PARTIAL ***

#heroContent{
  width: 100vw;
  @include basic-flex();
  #heroImg{
    width: 100%;
    height: 755px;
    background: url('media/imgs/hero-img-3.jpg');
    background-size: cover;
    background-position: top;
    @include basic-flex(flex-start, flex-start, column);
    #d4-icon{
      height: 350px;
      width: 350px;
      margin-top: 15px;
      // background-image: url('media/imgs/d4-brand-outerText.png');
      // background-repeat: no-repeat;
      // background-size: contain;
    }
    h2{
      width: 700px;
      font-size: 1.5em;
      line-height: 1.45em;
    }
  }
}
