// *** VARIABLE PARTIAL ***

$d4-dark: #1D2339;
$d4-white: #EBDFD7;
$hover-color: #445576;
$d4-neutral: #B2AFA4;
$d4-blue: #0929D4;
$d4-blueGrey: #445576;

$master-font: 'Poppins';//sans-serif
$master-font-serif: 'Noto Serif TC';//serif
